.card {
    display: grid;
    justify-content: center;
    justify-items: center;
    width: 300px; /* Set a fixed width for the card */
    padding-block: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}